@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600|Josefin+Slab:400:600|Milonga');


/* *******************MOBILE EXCEPTIONS *******************/
@media screen and (max-device-width: 800px) {


  #site_title {
    width: 100%;
  }

  #footer {
    margin-bottom: 8rem;
  }

  #menumobile {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: purple;
    color: gold;
    width: 100%;
    /* box-shadow: 0rem calc(var(--baseUnit)) calc(var(--baseUnit)*4) black; */
    box-shadow: 0rem 0rem calc(var(--baseUnit)/2) black;

    /* box-shadow: 0 0 10px black; */
  }

  #menumobile>ul {
    display: flex;
    justify-content: space-evenly;
  }

  #menumobile>ul>li>a {
    color: gold;
    font-size: calc(var(--baseFontSize));
  }

  #menu {
    display: none
  }

  article {
    margin: auto;
    font-family: var(--fontText);
    margin-left: calc(var(--baseUnit)*2);
  }

}

/* *******************END MOBILE EXCEPTIONS *******************/

/* ******************** DESKTOP EXCEPTIONS ********************/

@media screen and (min-device-width: 801px) {


  #menu {
    display: block
  }

  #menumobile {
    display: none
  }

  article {
    margin: auto;
    width: 70ch;
  }


}

/* ******************** END DESKTOP EXCEPTIONS ********************/

:root {
  --baseUnit: 1.618rem;
  --baseFontSize: 1.4rem;
  --fontText: 'Josefin Slab';
  --fontHeading: 'Josefin Sans';
}

h1,
h2,
h3,
#site_title {
  font-family: var(--fontHeading);
}

h1 {
  font-size: calc(var(--baseFontSize)*2);
  color: purple;
  text-align: center;
  text-transform: capitalize;
  margin: calc(var(--baseUnit)*2) 0 calc(var(--baseUnit)*2);
}


h2:first-of-type {
  margin: calc(var(--baseUnit)) 0 var(--baseUnit) calc(var(--baseUnit)*-1);
}

h2 {
  font-size: calc(var(--baseFontSize)*1.25);
  color: purple;
  padding-left: calc(var(--baseUnit)/2);
  margin: calc(var(--baseUnit)*2) 0 var(--baseUnit) calc(var(--baseUnit)*-1);
}


h3 {
  font-size: var(--baseFontSize);
  color: purple;
  margin: calc(var(--baseUnit)*2) 0 calc(var(--baseUnit)/2) 0;
}

#site_title {
  font-size: calc(var(--baseFontSize)*2);
  color: gold;
  text-align: center;
  padding: var(--baseUnit);
  background-color: purple;
}

em {
  font-style: italic;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

article>ul {
  font-family: var(--fontText);
  font-size: var(--baseFontSize);
  margin: 0 0 var(--baseUnit) calc(var(--baseUnit)*2)
}

article>ul>li:before {
  margin-right: calc(var(--baseUnit)/2);
  content: "\2724";
  color: purple;
}

article>ul>li {
  margin-bottom: calc(var(--baseUnit)/2);
  line-height: calc(var(--baseUnit)*1.618);
  text-indent: -2rem;
}



p,
.author {
  font-size: var(--baseFontSize);
  font-family: var(--fontText);
  line-height: calc(var(--baseUnit)*1.618);
  color: black;
  text-align: justify;
  margin-bottom: calc(var(--baseUnit));
}

.author {
  margin-top: calc(var(--baseUnit)*-1);
  margin-bottom: calc(var(--baseUnit)*2);
  text-align: right;
}

article>p:first-letter {
  font-size: calc(var(--baseFontSize)*1.4);
  font-family: 'Milonga';
  color: purple;
}


body {
  background-color: rgb(250, 250, 250);
}

article>a {
  font-family: var(--fontHeading);
  color: purple;
  text-decoration: underline;
  text-decoration-color: gold;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

a:hover {
  color: darkgoldenrod;
  background-color: gold;
  padding: 0.2rem;
}

.post_separator {
  background-image: url('/image/post_separator.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 2rem;
  margin: calc(var(--baseUnit)*1.618);
}



a {
  font-family: var(--fontHeading);
  color: purple;
  text-decoration: underline;
  text-decoration-color: gold;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

nav {
  color: purple;
  padding: var(--baseUnit);
  margin: auto;
}

nav>ul {
  display: flex;
  text-decoration: none;
  font-size: var(--baseFontSize);
  font-family: var(--fontText);
  list-style: none;
  justify-content: center;
}

#menu>ul>li:not(:first-child):before {
  content: '|';
  margin: var(--baseUnit);
}

.tags {
  font-family: var(--fontHeading);
  font-size: var(--baseFontSize);
  text-align: right;
}

.tags>a {
  color: purple;
  text-decoration: underline;
  text-decoration-color: gold;
}

.tags>a:hover {
  color: goldenrod;
  background-color: gold;
}


img {
  border-radius: 0.2em;
  border: calc(var(--baseUnit)/2) solid rgba(0, 0, 0, 0.04);
  max-width: 20ch;
  max-height: 20ch;
  margin: calc(var(--baseUnit)/2) 0 calc(var(--baseUnit)/2) calc(var(--baseUnit)/2);
  float: right
}

.left {
  float: left;
  margin: calc(var(--baseUnit)/2) calc(var(--baseUnit)/2) calc(var(--baseUnit)/2) 0;
}

.read_more {
  text-align: right;
  font-size: var(--baseFontSize);
}

#footer {
  font-size: calc(var(--baseUnit)/2);
  font-family: var(--fontHeading);
  color: purple;
  text-align: center;
  line-height: var(--baseUnit);
}

#footer>ul {
  display: flex;
  justify-content: center;
  margin-bottom: var(--baseUnit);
  font-size: var(--baseFontSize)
}

#disqus_thread {
  width: 70ch;
  margin: auto;
}


blockquote>p {
  /* margin: var(--baseUnit) 0 var(--baseUnit) var(--baseUnit); */
  padding: calc(var(--baseUnit)/2);
  font-style: italic;
  font-weight: 400;
  color: purple;
  background-color: rgba(0, 0, 0, 0.04);
  text-align: center;
}

blockquote>p::first-letter {
  /* margin: var(--baseUnit) 0 var(--baseUnit) var(--baseUnit); */
  color: purple;
  font-size: 3rem;
  font-family: 'Milonga';
}

#newsletter {
  font-family: var(--fontHeading);
  font-size: calc(var(--baseFontSize));
  color: purple;
  text-align: center;
  border: calc(var(--baseUnit)/2) solid rgba(0, 0, 0, 0.04);
  padding: var(--baseUnit);
}

#newsletter>form>a {
  font-size: calc(var(--baseFontSize)/2);
}

#tlemail {
  font-family: var(--fontText);
  font-size: calc(var(--baseFontSize)*1.5);
  text-align: center;
  color: purple;
  width: 100%;
  padding: var(--baseUnit) 0 --baseUnit 0;
  margin: var(--baseUnit) 0 var(--baseUnit) 0;
  border: calc(var(--baseUnit)/8)solid gold;
  border-radius: calc(var(--baseUnit)/8);
}

#tlemail:focus {
  border-color: purple;
}

#letter_button {
  border: none;
  font-family: var(--fontHeading);
  font-size: calc(var(--baseFontSize));
  background-color: purple;
  color: gold;
  padding: calc(var(--baseUnit)/2);
  border-radius: calc(var(--baseUnit)/4);
  margin-bottom: var(--baseUnit);
}

#letter_button:hover {
  background-color: gold;
  color: purple;
}


#subs_newsletter {
  font-family: var(--fontHeading);
  font-size: var(--baseFontSize);
  text-align: center;
  margin-bottom: var(--baseUnit);
}