@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600|Josefin+Slab:400:600|Milonga');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,italic,600');

@import url('https://fonts.googleapis.com/css?family=Inconsolata');


/* *******************MOBILE EXCEPTIONS *******************/
@media screen and (max-device-width: 800px) {

  :root {
    --baseUnit: 1.618rem;
    --baseFontSize: 1.2rem;
    /* --fontText: 'Josefin Slab'; */
    --fontText: 'Montserrat';
    --fontHeading: 'Josefin Sans';
  }

  #footer {
    margin-bottom: 4rem;
    font-size: calc(var(--baseFontSize)*0.8);
  }

  #menumobile {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    width: 100%;
    box-shadow: 0rem 0rem calc(var(--baseUnit)/4) black;
    padding: calc(var(--baseUnit)/2);
  }

  #menumobile>ul {
    display: flex;
    justify-content: space-evenly;
  }

  #menumobile>ul>li>a {
    color: purple;
    font-size: var(--baseFontSize);
  }

  #menu {
    display: none
  }

  article {
    margin: auto;
    max-width: 70ch;
    padding: 0 calc(var(--baseUnit)) 0 calc(var(--baseUnit));
  }

  p>a,
  .read_more,
  article>ul>li>a {
    font-size: calc(var(--baseFontSize)*1.2)
  }
}

/* *******************END MOBILE EXCEPTIONS *******************/

/* ******************** DESKTOP EXCEPTIONS ********************/

@media screen and (min-device-width: 801px) {
  :root {
    --baseUnit: 1.618rem;
    --baseFontSize: 1.2rem;
    /*  --fontText: 'Josefin Slab';*/
    --fontText: 'Montserrat';

    --fontHeading: 'Josefin Sans';
  }

  #menu {
    display: block;
    white-space: nowrap;
  }

  #menumobile {
    display: none
  }

  article {
    margin: auto;
    width: 57ch;
  }


  .read_more {
    font-size: var(--baseFontSize)
  }

  #footer {
    font-size: calc(var(--baseFontSize)/2);
  }

}

/* ******************** END DESKTOP EXCEPTIONS ********************/


body {
  font-family: var(--fontText);
  background-color: rgb(250, 250, 250);
}

h1,
h2,
h3,
#site_title {
  font-family: var(--fontHeading);
  color: purple;
}


h1 {
  font-size: calc(var(--baseFontSize)*2);
  text-align: center;
  text-transform: capitalize;
  margin-top: calc(var(--baseUnit)*2);
  margin-bottom: var(--baseUnit);
}

h2 {
  font-size: calc(var(--baseFontSize)*1.5);
  margin-bottom: calc(var(--baseUnit));
  margin-top: calc(var(--baseUnit)*2);
}

h2:first-of-type {
  margin-bottom: calc(var(--baseUnit));
  margin-top: calc(var(--baseUnit));
}

h3 {
  font-size: var(--baseFontSize);
  margin-top: calc(var(--baseUnit)*2);
  margin-bottom: calc(var(--baseUnit)/2);
}

#site_title {
  position:relative;
  z-index: 0;
  box-sizing: border-box;
  font-size: calc(var(--baseFontSize)*2.5);
  color: gold;
  text-align: center;
  padding: var(--baseUnit);
  background-color: purple;
}

#latest_commit{
  background-color: gold;
  color:purple;
  text-align: center;
  padding: calc(var(--baseUnit)/4);
  font-family: var(--fontHeading);
  vertical-align: middle;
}

em {
  font-style: italic;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

article>ul {
  font-size: var(--baseFontSize);
  line-height: calc(var(--baseFontSize)*1.618);
  margin: 0 0 var(--baseUnit) calc(var(--baseUnit)*2);
}

article>ul>li:before {
  margin-right: calc(var(--baseUnit)/2);
  content: "\2724";
  color: purple;
}

article>ul>li {
  text-indent: -2rem;
}

p {
  font-size: var(--baseFontSize);
  line-height: calc(var(--baseFontSize)*1.618);
  color: black;
  text-align: justify;
  margin-bottom: calc(var(--baseUnit));
}

.author {
  font-size: calc(var(--baseFontSize)*0.8);
  line-height: calc(var(--baseFontSize)*1.618);
  text-align: right;
  color: black;
  margin-bottom: calc(var(--baseUnit));
  margin-top: calc(var(--baseUnit)*-1);
}

article>p:first-letter {
  font-size: calc(var(--baseFontSize)*1.4);
  font-family: 'Milonga';
  color: purple;
}

a {
  font-family: var(--fontHeading);
  color: purple;
  text-decoration: underline;
  text-decoration-color: gold;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

a:hover {
  color: plum;
  text-decoration-color: purple;
}

.post_separator {
  background-image: url('/image/post_separator.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 2rem;
  margin: calc(var(--baseUnit)*1.618);
}

nav {
  color: purple;
  padding: var(--baseUnit);
  margin: auto;
}

nav>ul {
  display: flex;
  text-decoration: none;
  font-size: var(--baseFontSize);
  list-style: none;
  justify-content: center;
}

#menu>ul>li:not(:first-child):before {
  content: '|';
  margin: var(--baseUnit);
}

.tags {
  font-family: var(--fontHeading);
  font-size: var(--baseFontSize);
  text-align: right;
}

img {
  border-radius: 0.2em;
  border: calc(var(--baseUnit)/2) solid rgba(0, 0, 0, 0.04);
  max-width: 20ch;
  max-height: 20ch;
  margin: calc(var(--baseUnit)/2) 0 calc(var(--baseUnit)/2) calc(var(--baseUnit)/2);
  float: right
}

.left {
  float: left;
  margin: calc(var(--baseUnit)/2) calc(var(--baseUnit)/2) calc(var(--baseUnit)/2) 0;
}

.read_more {
  text-align: right;
}

#footer {
  font-family: var(--fontHeading);
  color: purple;
  text-align: center;
}

#footer>ul {
  display: flex;
  justify-content: center;
  margin-bottom: var(--baseUnit);
  font-size: var(--baseFontSize)
}

#disqus_thread {
  max-width: 70ch;
  margin: auto;
  padding: 0 calc(var(--baseUnit)/2) 0 calc(var(--baseUnit)/2);
}

blockquote>p {
  padding: calc(var(--baseUnit)/2);
  font-style: italic;
  font-weight: 400;
  color: purple;
  background-color: rgba(0, 0, 0, 0.04);
  text-align: center;
}

#newsletter {
  font-family: var(--fontHeading);
  font-size: calc(var(--baseFontSize));
  color: purple;
  text-align: center;
  border: calc(var(--baseUnit)/2) solid rgba(0, 0, 0, 0.04);
  padding: var(--baseUnit);
}

#newsletter>form>a {
  font-size: calc(var(--baseFontSize)/2);
}

#tlemail {
  font-size: calc(var(--baseFontSize)*1.5);
  text-align: center;
  color: purple;
  width: 100%;
  padding: var(--baseUnit) 0 --baseUnit 0;
  margin: var(--baseUnit) 0 var(--baseUnit) 0;
  border: calc(var(--baseUnit)/8)solid gold;
  border-radius: calc(var(--baseUnit)/8);
}

#tlemail:focus {
  border-color: purple;
}

#letter_button {
  border: none;
  font-family: var(--fontHeading);
  font-size: calc(var(--baseFontSize));
  background-color: purple;
  color: gold;
  padding: calc(var(--baseUnit)/2);
  border-radius: calc(var(--baseUnit)/4);
  margin-bottom: var(--baseUnit);
}

#letter_button:hover {
  background-color: gold;
  color: purple;
}

#subs_newsletter {
  font-family: var(--fontHeading);
  font-size: var(--baseFontSize);
  line-height: calc(var(--baseFontSize)*1.618);
  text-align: center;
  margin-bottom: var(--baseUnit);
}

#corner-in {
  display: flex;
  z-index: 1;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  width: calc(var(--baseUnit)*2);
  padding: calc(var(--baseUnit)/2);
  height: calc(var(--baseUnit)*8);
  background: gold;
  border: 0.2rem solid purple;
  border-radius: 0 0 calc(var(--baseUnit)/5) calc(var(--baseUnit)/5);
  border-top:0;
  font-family: var(--fontHeading);
  color:purple;
}

#corner-out a{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#corner-out:hover{
  text-decoration: none;
  border-color: purple;
}

#corner-in:hover{
  border-color: gold;
  background: purple;
  color:gold;
}

#corner-out{
  position: absolute;
  z-index: 1;
  right:0;
  margin-right: var(--baseUnit);
  border: 0.2rem solid gold;
  border-radius: 0 0 calc(var(--baseUnit)/4) calc(var(--baseUnit)/4);
  border-top:0;
  background: gold;
}